.iconeHeader{
    font-size: 70px;
    margin: 20px;
    margin-left: -2px;
  }

  .txtRoxo {
    color: #673ab7;
    text-align: center;
  }

.classCard{
    height: 600px;
    width: 100%;
    overflow: auto;
  }
  