<mat-card class="classCard">
    <mat-card-header fxLayoutAlign="center center">
        <i class="material-icons iconeHeader txtRoxo">done_outline</i>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="end center" >
      <h3 class="title txtRoxo">CADASTRO REALIZADO COM SUCESSO!</h3>
      <p>Obrigado por preencher o formulário, em breve enviaremos informações de investimento!</p>

      <h5 *ngIf="!global.dadosForm">Nenhum formulário preenchido!</h5>
      

      <div *ngIf="arrDadosForm.length > 0">
        <h5> DADOS DO FORMULÁRIO</h5>
        <div *ngFor="let key of this.arrDadosForm">
            <p>Pergunta: {{key.pergunta}}</p>
            <p>Resposta: {{key.resposta}}</p>
        </div>
      </div>

    </mat-card-content>
</mat-card>